<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ZYRISDB" value="87B3CFAFD8778E9243AD39269A62460525E252E5765843CCD5E7E402C53C4E662AD4907F4ADAF6537D01B798234AC40C645895F1B5A18F275428548EA786BCA56CBDAD4D2C71AE17F6CE100DF21949DE91D27164E12D1F3A9720E2F1EF78DCF3A656CC3011210469E08425E77FFEEFA7"/>
    <!--0不开启错误日志，1开启错误日志-->
    <add key="LOG" value="1"/>
    <add key="MODALITY" value="CT"/>
    <add key="PORT" value="5001"/>
    <add key="AETITLE" value="CT99"/>
    <add key="ENCODING" value="GB18030"/>
    <add key="NEW_MODALITY" value=""/>
    <!--患者姓名是否传拼音true是拼音，false则是汉字-->
    <add key="NAME_IS_PY" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
