<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--远程影像中心数据库连接字符串-->
    <add key="ZYPACSDB" value="87B3CFAFD8778E92753DFFE65A51468F135C7DE885E2D92109E01EC87D6FD364503EA999F614D3C444E15D4E8734240315504C0717E45D307D65F4DF1C1DC3C390ED30DE9B8698290548DCE00F3DC913A52D206F4F10BDB1AF699D3B7060AAABB5D5F84E4C97781C775116CD8B15DEF43945790C8254450288DE68BE6E88110B9524554B9B7D450060A51B79EA036EC49EDA0E8173AA8D7A7A48AFE681CB5DF00B4D9DF22B96984CD64273B6F70A0F8AF6BC79F0E442924B2C3EAE428A6E1E8A"/>
    <!--轮查的间隔时间，单位秒,假定10秒做一个检查-->
    <add key="Interval" value="10"/>
    <!--数据库类型 Oracle,SqlServer-->
    <add key="DbType" value="Oracle"/>
    <!--CGET服务端口-->
    <add key="port" value="50008"/>
    <!--接收方IP-->
    <add key="cget_store_ip" value="127.0.0.1"/>
    <!--接收方端口-->
    <add key="cget_store_port" value="22345"/>
 
    
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
