<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--ZYPACSDB加密连接字符串-->
    <add key="ZYPACSDB" value="87B3CFAFD8778E9243AD39269A6246058571301C787B2BA9F266B7BD71479EAD8D0E7D6F68329E4DF3B2837908A1164718B6F8DB8189BA3CE1CE2F24EE78F3C26C6AFAA0FAF9A76B3A1B14C5D5879D0808D6558C01492EBA756FAA6199DE8A58F3B9ADD91D0CB8D40B201A9C28800238"/>
    <!--轮查的间隔时间，单位秒,假定10秒做一个检查-->
    <add key="Interval" value="10"/>
    <!--数据库类型 Oracle,SqlServer-->
    <add key="DbType" value="SqlServer"/>
    <!--CGET服务端口-->
    <add key="port" value="12346"/>
    <!--接收方IP-->
    <add key="cget_store_ip" value="127.0.0.1"/>
    <!--接收方端口-->
    <add key="cget_store_port" value="22345"/>
 
    
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
